
<p><%=@error%></p>

<form action="/clubs/<%= @club.id %>" method="post">
    <input type="hidden" name= "_method" value="patch">
    
    <h1>Edit Lineup For: <%= @club.name %>  </h1>
    <p>Created by: <%= @user.username %></p>
    <label> Club Name</label><br>
    <input type="text" name="club[name]" value= <%= @club.name %>><br>
<h2><label> Forwards</label></h2> <br>

<h2>Forward(s)</h2>
<% @fwd.each do |f|%>
<h3>Name: </h3>
<h4><%= f.name %></h4>
<h3>Age:</h3> 
<h4><%= f.age %></h4><br>
<%end%>



     <% @forward.each do |f|%>
         <input type="radio" name="players[fwd]" value="<%= f.id %>"  id="<%= f.id %>"> <%=f.name%> <br>
     <%end%>
<br>

<h2>Midfielder(s)</h2>
<% @mid.each do |m| %>
<h3>Name: </h3>
<h4><%= m.name %></h4>
<h3>Age:</h3> 
<h4><%= m.age %></h4><br>
<% end %>



<h2><label> Midfielders </label></h2><br>
    <% @midfield.each do |m|%>
        <input type="radio" name="players[mid]" value="<%= m.id %>" id="<%= m.id %>"> <%=m.name%> <br>
    <%end%>
<br>

<h2>Defender(s)</h2>
<% @def.each do |d|%>
<h3>Name: </h3>
<h4><%= d.name %></h4>
<h3>Age:</h3> 
<h4><%= d.age %></h4><br>
<%end%>



<h2><label>Defenders</label></h2><br>
    <% @defender.each do |d|%>
        <input type="radio" name="players[def]" value="<%= d.id %>" id="<%= d.id %>"> <%=d.name%> <br>
    <%end%>
<br>

<h2>Goalie</h2>
<% @gk.each do |g|%>
<h3>Name: </h3>
<h4><%= g.name %></h4>
<h3>Age:</h3> 
<h4><%=g.age%></h4>
<% end %>

<h2><label>Goalies</label></h2><br>
    <% @goalie.each do |g|%>
        <input type="radio" name="players[gk]" value="<%= g.id %>" id="<%= g.id %>"> <%=g.name%> <br>
    <%end%>
<br>

<h2><label>Fifth Player</label></h2><br><br>
<p>Please Select A Player You Haven't Already Selected!</p>
<p>Remember to be creative and think about how you'd like your team to line up</p>
    <% @notgk.each do |p|%>
        <input type="radio" name="players[any]" value="<%= p.id%>" id="<%= p.id %>"> <%=p.name%> <br>
    <%end%>
<br> 

<button type="submit"> Submit Club</button>

    

    
</form>