<h1>Edit your club</h1>
<p><%=@error%></p>

<h1><%= @club.name %></h1>
<p>Created by: <%= @user.username %></p>

<h2>Forward(s)</h2>
<h3>Name: </h3>
<h4><%= @fwd.name %></h4>
<h3>Age:</h3> 
<h4><%= @fwd.age %></h4><br>

<% if @any.position =="Fwd" then %>
<h3><%= "Name:" %></h3>
<h4><%= @any.name %> </h4>
<h3><%="Age:"%></h3>
<h4><%= "#{@any.age}"%></h4>
<% end %>

<h2>Midfielder(s)</h2>
<h3>Name: </h3>
<h4><%= @mid.name %></h4>
<h3>Age:</h3> 
<h4><%= @mid.age %></h4><br>
<% if @any.position =="Mid" then %>
<h3><%= "Name:" %></h3>
<h4><%= @any.name %> </h4>
<h3><%="Age:"%></h3>
<h4><%= "#{@any.age}"%></h4>
<% end %>



<h2>Defender(s)</h2>
<h3>Name: </h3>
<h4><%= @def.name %></h4>
<h3>Age:</h3> 
<h4><%= @def.age %></h4><br>

<% if @any.position =="Def" then %>
<h3><%= "Name:" %></h3>
<h4><%= @any.name %> </h4>
<h3><%="Age:"%></h3>
<h4><%= "#{@any.age}"%></h4>
<% end %>


<h2>Goalie</h2>
<h3>Name: </h3>
<h4><%= @gk.name %></h4>
<h3>Age:</h3> 
<h4><%=@gk.age%></h4>
<h3>Position: </h3>

<form action="/clubs/<%= @club.id %>" method="post">
    <input type="hidden" name= "_method" value="patch">

    <label> Team Name</label><br>
    <input type="text" name="club[name]"><br>
<label> Forwards</label> <br>
     <% @forward.each do |f|%>
         <input type="radio" name="club[fwd_id]" value="<%= f.id %>"  id="<%= f.id %>"> <%=f.name%> <br>
     <%end%>
<br>

<label> Midfielders</label><br>
    <% @midfield.each do |m|%>
        <input type="radio" name="club[mid_id]" value="<%= m.id %>" id="<%= m.id %>"> <%=m.name%> <br>
    <%end%>
<br>

<label>Defenders</label><br>
    <% @defender.each do |d|%>
        <input type="radio" name="club[def_id]" value="<%= d.id %>" id="<%= d.id %>"> <%=d.name%> <br>
    <%end%>
<br>
<label>Goalies</label><br>
    <% @goalie.each do |g|%>
        <input type="radio" name="club[gk_id]" value="<%= g.id %>" id="<%= g.id %>"> <%=g.name%> <br>
    <%end%>
<br>

<label>Fifth Player</label><br><br>
<p>Please Select A Player You Haven't Already Selected!</p>
<p>Remember to be creative and think about how you'd like your team to line up</p>
    <% @players.each do |p|%>
        <input type="radio" name="club[any_id]" value="<%= p.id%>" id="<%= p.id %>"> <%=p.name%> <br>
    <%end%>
<br> 

<button type="submit"> Create Team</button>

    

    
</form>