<h1><%= @club.name %></h1>
<p>Created by: <%= @user.username %></p>

<h2>Forward(s)</h2>
<% @fwd.each do |f|%>
<h3>Name: </h3>
<h4><%= f.name %></h4>
<h3>Age:</h3> 
<h4><%= f.age %></h4><br>
<%end%>



<h2>Midfielder(s)</h2>
<% @mid.each do |m| %>
<h3>Name: </h3>
<h4><%= m.name %></h4>
<h3>Age:</h3> 
<h4><%= m.age %></h4><br>
<% end %>



<h2>Defender(s)</h2>
<% @def.each do |d|%>
<h3>Name: </h3>
<h4><%= d.name %></h4>
<h3>Age:</h3> 
<h4><%= d.age %></h4><br>
<%end%>


<h2>Goalie</h2>
<% @gk.each do |g|%>
<h3>Name: </h3>
<h4><%= g.name %></h4>
<h3>Age:</h3> 
<h4><%=g.age%></h4>
<% end %>

<%if session[:user_id] ==@club.user_id%>
<a href="/clubs/<%=@club.id%>/edit">Edit Team</a><br>
<form action="/clubs/<%=@club.id%>" method="post">
<input type="hidden" name="_method" value="delete">
<button type="submit">Delete Club</button>
</form>


<%end%>