<h1>Edit Player for <%=@player.name%></h1>
<p><%= @error%></p>
<form action="/players/<%=@player.id%>" method="post">
    <input type="hidden" name= "_method" value="patch">
    <label> Name</label><br>
    <input type="text" name="player[name]" value= "<%=@player.name%>"><br>
    <label> Age</label><br>
    <input type="integer" name="player[age]" value="<%=@player.age%>"><br>
    <label> Position</label> <br>
    <input type="radio" name="player[position]" value="Forward"> Forward
    <input type="radio" name="player[position]" value="Midfielder"> Midfielder
    <input type="radio" name="player[position]" value="Defender"> Defender
    <input type="radio" name="player[position]" value="Goalkeeper"> Goalie
    <br>

    <button type="submit"> Edit Player</button>
</form>