

<h1>Name: <%=@player.name%></h1>
<h3>Age:</h3> 
<h4><%=@player.age%></h4>
<h3>Position: </h3>
<h4><%=@player.position%></h4><br><br>

<%if owner?%>
<a href="/players/<%=@player.id%>"> Show Player</a><br>

<form action="/players/<%=@player.id%>" method="post">
<input type="hidden" name="_method" value="delete">
<button type="submit">Delete Player</button>
<%end%>
</form>



